<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mia & Joseph's Wedding Gallery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<div class="container">
  <header>
    <h1>Mia & Joseph</h1>
    <p class="subheading">With heartfelt thanks for joining their special day 💍</p>
    <p class="subheading" style="padding-bottom: 1.5em">Please feel free to upload your favorite moments</p>
  </header>

  <form method="POST" enctype="multipart/form-data">
    <label for="images">Upload your photos below:</label>
    <input type="file" name="images" accept="image/*,video/*" multiple>
    <input type="submit" value="Upload Photos">
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="flash">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
</div>
</body>
</html>
